@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

.inner-container2 {
    margin-top: 15rem;
    /* background-color: rgb(30, 30, 30); */
}

.starter {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.starter .about-heading {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    display: flex;
    flex-wrap: nowrap;
}

.starter .vertical-line {
    width: 2px;
    height: 20vh;
    color: white;
    background-color: rgb(255, 255, 255, .5);
}

.starter .sub-heading {
    width: 40vw;
}

.starter .sub-heading .h1 {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.starter .sub-heading .p1 {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.middle {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.middle .heading {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
}

.middle .box-group {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.middle .box-group .box {
    width: 25vw;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(62, 62, 62, .5);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.middle .box-group .box :hover {
    background-color: rgb(67, 67, 67);
    cursor: pointer;
}

.middle .box-group .box {
    .gift-icon {
        position: relative;
    }
    .gift-icon .img2 {
        position: absolute;
        top: -4.8rem;
        left: 1.5rem;
    }
    .sub-heading {
        color: white;
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5rem;
    }
    .para {
        color: white;
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: .7rem;
    }
    .button1 {
        padding-top: 2rem;
    }
    .button1 button{
        width: 15vw;
        height: 3rem;
        border-radius: 30px;
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background-color: rgb(197, 197, 33);
        transition: background-color 0.3s ease;
        transition: transform .5 cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .button1 button:hover {
        cursor: pointer;
        background-color: yellowgreen;
        transform: scale(1.1);
    }
}

.lower {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.lower .heading {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.lower .card {
    display: flex;
    flex-direction: column;
}

.lower .card {
    .grid1 {
        text-align: center;
        display: grid;
        grid-template-columns: 50vw 25vw;
        gap: 3rem;
        height: 22vw;
    }
    .grid1 .img1 img{
        width: 50vw;
        height: 80%;
        object-fit: cover;
        border-radius: 1rem;
        transition: transform 1 ease;
    }
    .grid1 .img1 img:hover {
        transform: scale(1.050);
        cursor: pointer;
    }
    .grid1 .img2 img{
        width: 25vw;
        height: 80%;
        object-fit: cover;
        border-radius: 1rem;
        transition: transform 1 ease;
    }
    .grid1 .img2 img:hover {
        transform: scale(1.050);
        cursor: pointer;
    }
    .tag-position {
        position: relative;
    }
    .tag1 {
        position: absolute;
        top: -5rem;
        left: 19vw;
        color: white;
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }
    .tag2 {
        position: absolute;
        top: -5rem;
        left: 5vw;
        color: white;
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }
    .grid2 {
        text-align: center;
        display: grid;
        grid-template-columns: 25vw 50vw;
        gap: 3rem;
        height: 22vw;
    }
    .grid2 .img1 img{
        width: 50vw;
        height: 80%;
        object-fit: cover;
        border-radius: 1rem;
        transition: transform 1 ease;
    }
    .grid2 .img1 img:hover {
        transform: scale(1.050);
        cursor: pointer;
    }
    .grid2 .img2 img{
        width: 25vw;
        height: 80%;
        object-fit: cover;
        border-radius: 1rem;
        transition: transform 1 ease;
    }
    .grid2 .img2 img:hover {
        transform: scale(1.050);
        cursor: pointer;
    }
    .grid3 {
        text-align: center;
        display: grid;
        grid-template-columns: 50vw 25vw;
        gap: 3rem;
        height: 22vw;
    }
    .grid3 .img1 img{
        width: 50vw;
        height: 80%;
        object-fit: cover;
        border-radius: 1rem;
        transition: transform 1 ease;
    }
    .grid3 .img1 img:hover {
        transform: scale(1.050);
        cursor: pointer;
    }
    .grid3 .img2 img{
        width: 25vw;
        height: 80%;
        object-fit: cover;
        border-radius: 1rem;
        transition: transform 1 ease;
    }
    .grid3 .img2 img:hover {
        transform: scale(1.050);
        cursor: pointer;
    }
}