@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

.feedback-container {
    margin-top: 10rem;
}

.feedback {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper .heading {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 2px;
}

.upper .buttons {
    display: flex;
}

.upper .buttons .button1 {
    background-color: white;
    border: 0;
    color: black;
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: .5rem;
  }

  .upper .buttons .button2 {
    background-color: yellowgreen;
    border: 0;
    color: black;
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: .5rem;
  }
  
  .upper .buttons button .MuiSvgIcon-root {
    font-size: 2rem;
  }

  .upper .buttons .button1:hover {
    cursor: pointer;
    background-color: rgb(186, 186, 186);
  }

  .upper .buttons .button2:hover {
    cursor: pointer;
    background-color: rgb(123, 172, 27);
  }

  .lower {
    margin-top: 5rem;
  }

  .lower .box {
    display: flex;
    gap: 1rem;
  }

  .lower .box .card {
    width: 15vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
  }

  .lower .box .card:hover {
    background-color: rgb(77, 77, 77);
  }

  .lower .box .card {
    .img-card img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
    }
    .feeder-name {
      color: white;
      font-family: "Reddit Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 2rem;
      margin-top: 1rem;
    }
    .occupation {
      color: white;
      font-family: "Reddit Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      margin-top: 1rem;
    }
    .message {
      color: white;
      font-family: "Reddit Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
      font-size: .8rem;
      margin-top: 1rem;
    }
  }

  .team-card {
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-card .heading {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5rem;
  }

  .team-card .attorney-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 4rem;
  }

  .team-card .attorney-card {
    .cards {
      width: 20vw;
      height: auto;
      padding: 1rem;
      border-radius: 10px;
    }
    .cards:hover {
      background-color: rgb(223, 227, 99);
      cursor: pointer;
      .inner-card .att-desc .att-name {
        color: black;
      }
      .inner-card .att-desc .att-cases {
        color: black;
      }
    }
    .cards .inner-card {
      display: flex;
    }
    .cards .inner-card .img-card img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
    }
    .cards .inner-card .att-desc .att-name {
      color: white;
      font-family: "Reddit Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: 1.5rem;
      padding-left: 2rem;
    }

    .cards .inner-card .att-desc .att-cases {
      color: white;
      font-family: "Reddit Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
      font-size: .8rem;
      padding-left: 2rem;
      padding-top: .7rem;
    }
  }

  .FAQ {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
  }

  .FAQ .heading {
    color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5rem;
    padding-left: 3.5rem;
    letter-spacing: 5px;
  }

  .FAQ .box {
    display: flex;
    flex-wrap: wrap;
  }

  .FAQ .box .para {
    width: 30vw;
    color: rgb(255, 255, 255, .5);
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    padding-left: 3.5rem;
    padding-top: 2rem;
  }

  .accordian {
    width: 35vw;
    height: auto;
    margin: 0 auto;
  }

  .accordian .accordian-item {
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;

    .accordian-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      padding-top: 2rem;

      button {
        background-color: black;
        padding: 0;
        margin: 0;
        border: 0;
      }

      .heading-1 {
        color: rgb(255, 255, 255);
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 1.3rem;
      }
      .icon {
        color: white;
        cursor: pointer;
      }
    }

    .accordian-content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease;

      .para {
        color: rgba(0, 0, 0);
        font-family: "Reddit Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: .8rem;
        z-index: 10;
        padding-left: 1.7rem;
        padding-top: .5rem;
      }
    }
  }

  .accordian .accordian-item.active .accordian-content {
    max-height: 1000px;
    transition: max-height 0.5s ease, padding 0s ease;
    padding: 10px 15px; 
  }

  .accordian .accordian-item.active .accordian-content .para {
    color: rgb(255, 255, 255, .5);
    transition: color 0.5s ease 0s;
  }